@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    field-sizing: content;
}

@keyframes wave {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.animate-wave {
    display: inline-block;
    animation: wave 1.6s ease-in-out infinite;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Custom thin horizontal scrollbar styling for Firefox and WebKit browsers */
.scrollbar-thin {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #3b82f6 #bfdbfe;
}

.scrollbar-thin::-webkit-scrollbar {
    height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background: #bfdbfe;
    border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #3b82f6;
    border-radius: 10px;
    border: 2px solid #bfdbfe;
}
